<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>
		<!-- styles -->
		<link href="/assests/css/font-awesome.css" rel="stylesheet">
		<link href="/assests/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assests/css/animate.min.css" rel="stylesheet">
		<link href="/assests/css/owl.carousel.css" rel="stylesheet">
		<link href="/assests/css/owl.theme.css" rel="stylesheet">
		<!-- theme stylesheet -->
		<link href="/assests/css/style.default.css" rel="stylesheet" id="theme-stylesheet">
		<!-- your stylesheet with modifications -->
		<link href="/assests/css/custom.css" rel="stylesheet">
		<script src="/assests/js/respond.min.js"></script>
		<script src="/assests/js/jquery-1.11.0.min.js"></script>
		<script src="/assests/js/bootstrap.min.js"></script>
		<script src="/assests/js/jquery.cookie.js"></script>
		<script src="/assests/js/waypoints.min.js"></script>
		<script src="/assests/js/modernizr.js"></script>
		<script src="/assests/js/bootstrap-hover-dropdown.js"></script>
		<script src="/assests/js/owl.carousel.min.js"></script>
		<script src="/assests/js/front.js"></script>
	</head>
	<body >
		{{> navbar }}
							{{{body}}}
	</body>
	<footer>
		{{> footer }}
	</footer>
</html>
