<html>
    <head>
      <title> Table </title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <form method="post" action="/category/delete" id="frmDeleteCategory">
        <input type="hidden" name="catId" id="txtDelCatId">
      </form>
        <h2 style="color: #448aff;text-align: center;"> Categories Table</h2>
        <a href="/category/add" class="btn btn-primary" title="add" style="margin-left:20px">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
<hr>
  <table class="table table-striped">
</div>
     <thead>
        <tr class="row-name">
           <th>Id</th>
           <th>Name</th>
        </tr>
     </thead>
     <tbody>
       {{#each categories}}
        <tr class="row-content">
           <td>{{CatID}}</td>
           <td>{{CatName}}</td>
           <td>
              <a class="btn btn-danger removeCategory" data-id="{{CatID}}" href="javascript:;" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              &nbsp
              <a class="btn btn-info edit" href="/category/edit?id={{CatID}}" aria-label="Settings">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
           </td>
        </tr>
        {{/each}}
     </tbody>
  </table>
    </body>
</html>
<script>
$('.removeCategory').on('click', function() {
  var id = $(this).data('id');
  $('#txtDelCatId').val(id);
  $('#frmDeleteCategory').submit();
});
</script>
<style>
/* Table css Start */
a.del
{
    background:#d9534f;
    border-radius: 2px;
    width: 35px;
    height:28px;
    padding-left:12px;
    line-height:10px;
}

a.edit
{
    padding-left:10px;
    background:#337ab7;
    color:#fff;
    border-radius:2px;
    border:none;
}

tr.row-name
{
    font-size: 18px;
    color:#448aff;
}

tr.row-content
{
    color:#6c7173;
}

table
{
    border-bottom: 8px solid #448aff;
    margin: 20px;
}

td.check
{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#F0F2F2 !important;
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff;
    padding: 7px 10px;
    border-radius:4px;
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222;
    transition:box-shadow 0.5s;
}

/* Table css End */

</style>
