<!DOCTYPE html>
<html>
	<head>
		<title>edit category</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	</head>
	<body>
		{{#with category }}
		<div class="container">
			<h1>Edit Category</h1>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<form method="post" action="">
						<div class="form-group">
							<label for="txtCatID">Category ID</label>
							<input type="text" class="form-control" id="txtCatID" placeholder="name" name="catId" value="{{CatID}}" readonly>
						</div>
						<div class="form-group">
							<label for="txtCatName">Category Name</label>
							<input type="text" class="form-control" id="txtCatName" placeholder="name" name="catName" value="{{CatName}}">
						</div>
						<a href="/category" class="btn btn-default" title="back">
							<span class="glyphicon glyphicon-backward"></span>
						</a>
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-check"></span>
						</button>
					</form>
				</div>
			</div>
			<br/>
		</div>
		{{/with}}
		<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>
