.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 10px auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
    .post textarea, .post input{
    resize: none;
    width: 90% !important;
  }
  .post textarea{
    height: 100px;
  }
  .post .left, .post .right, .post .images-review{
    padding: 0 5px;
    float: left;
    box-sizing: border-box;
  }
  .post .images-review{
   width: 100%;
   margin-bottom: 20px;
  }
  .post .left{
    width: 40%;
  }
  .post .right{
    width: 60%;
  }
  .post .item{
    display: inline-block;
    margin: 5px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
  }
  .post .item>img{
    height: 150px;
  }
  .post .wrapper{
    background: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: width 0.5s;
  }
  .post .wrapper>button{
    background: #fff;
    font-size: 80px;
    height: 150px;
    width: 150px;
    margin: 5px;
    color: #ccc;
  }
  .post .remove-btn{
    position: absolute;
    width: 26px;
    height: 26px;
    left: calc(50% - 13px);
    top: calc(50% - 13px);
    padding: 2px;
    border-radius: 4px;
    background: #fff;
    z-index: 2;
    display: none;
    cursor: pointer;
  }
  .post .bg{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: black;
  }
  .post .item:hover .bg{
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  .post .item:hover .remove-btn{
    display: block;
  }
  .post .wrapper button:hover{
    background: #eee;
  }
  .post #add{
    display: none;
  }
  .clear{
    clear: both;
  }
  button{
    outline: none !important;
  }
