{{#if user.IsRight}}
<div class="all" style="margin-left:50px;margin-right:50px" >
<div class="row">
	<div class="span12" >
    <ul class="breadcrumb">
  		<li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
  		<li class="active">Đăng sản phẩm của bạn</li>
    </ul>
    <div class="well well-small post clearfix">
      <form id="mainform" method="post" action="/product/add">
        <div class="left">
            <div class="form-group">
              <label>Tên sản phẩm:</label>
              <input type="text" class="form-control" name="ProName">
            </div>
            <div class="form-group">
              <label>Giá khởi điểm:</label>
              <input type="number" class="form-control" name="NowPrice" >
            </div>
            <div class="form-group">
              <label>Bước giá:</label>
              <input type="number" class="form-control" name="ProStep">
            </div>
						<div class="form-group">
							<label>Endtime( y-m-d h-m-s ):</label>
							<input type="datetime" class="form-control" name="Endtime">
						</div>
            <div class="form-group">
              <label>Giá mua ngay:</label>
              <input type="number" class="form-control" name="Sellprice">
							<input type="hidden" class="form-control" name="uID" value="{{user.uID}}">

            </div>
        </div>
        <div class="right">
          <div class="form-group">
            <label>Giới thiệu chung(50 kí tự):</label>
            <textarea class="form-control" maxlength="50" name="TinyDes"></textarea>
          </div>
          <div class="form-group">
            <label>Chi tiết sản phẩm:</label>
            <textarea id="detail" class="form-control" name="FullDes" ></textarea>
          </div>
					<h4>Tự động gia hạn</h4>
					<div class="form-group">
					<select name="IsAutotime" >
  					<option value="0">Không</option>
  					<option value="1">Có</option>
					</select>
					</div>
					<h4>Category</h4>
					<div class="form-group">
					<select name="CatID" >
						{{#each categories}}
  					<option value="{{CatID}}">{{CatName}}</option>
  					{{/each}}
					</select>
					</div>
        </div>
				</form>
				<div class="clear"></div>
        <div class="form-group images-review">
          <label>Thêm hình ảnh sản phẩm:</label>
          <input id="add" type='file' onchange="readURL(this)" accept="image/*"/>
          <div class="wrapper">
            <button type="button" class="btn .btn-default" onclick="triggerAdd()">+</button>
          </div>
        </div>
				<button  id="submitform" class="btn btn-success" style="margin:20px">Đăng sản phẩm </button>
    </div>
  </div>
</div>
</div>
{{else}}
<h2 style="color: RED;text-align: center;">BẠN CHƯA CÓ QUYỀN ĐĂNG SẢN PHẨM,ADMIN SẼ DUYỆT TRONG VÒNG 7 NGÀY</h2>
{{/if}}
<style>

</style>
<script>
$('#submitform').on('click', function() {
	$('#mainform').submit();

});
$(document).ready(function() {
    $("body").fadeIn(400);

$('#myCarousel').carousel()
$('#newProductCar').carousel()

/* Home page item price animation */
$('.thumbnail').mouseenter(function() {
   $(this).children('.zoomTool').fadeIn();
});

$('.thumbnail').mouseleave(function() {
	$(this).children('.zoomTool').fadeOut();
});

// Show/Hide Sticky "Go to top" button
	$(window).scroll(function(){
		if($(this).scrollTop()>200){
			$(".gotop").fadeIn(200);
		}
		else{
			$(".gotop").fadeOut(200);
		}
	});
// Scroll Page to Top when clicked on "go to top" button
	$(".gotop").click(function(event){
		event.preventDefault();

		$.scrollTo('#gototop', 1500, {
        	easing: 'easeOutCubic'
        });
	});

});

function readURL(input) {
  if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        var imgHtml = '<div class="item"><img src='+e.target.result+' alt="img"><div class="remove-btn"></div><div class="bg"></div></div>';
        $('.images-review .wrapper').prepend(imgHtml);
      };

      reader.readAsDataURL(input.files[0]);
  }
}
function triggerAdd() {
  $('#add').click();
}
$(document).on('click', '.remove-btn', function () {
  $(this).parent().remove();
  $('input[type=file]').val('');

})
function removeItem() {
  $()
}

</script>
