<html>
    <head>
      <title> Table </title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <form method="post" action="/user/delete" id="frmDeleteUser">
        <input type="hidden" name="uID" id="txtDeluID">
      </form>
      <form method="post" action="/user/reset" id="frmResetUser">
        <input type="hidden" name="uID" id="txtReuID">
      </form>
      <form method="post" action="/user/right" id="frmRightUser">
        <input type="hidden" name="uID" id="txtRightuID">
      </form>
        <h2 style="color: #448aff;text-align: center;">Sản phẩm đã được bán</h2>
<hr>
  <table class="table table-striped">
</div>
     <thead>
        <tr class="row-name">
           <th>ProName</th>
           <th>Price</th>
        </tr>
     </thead>
     <tbody>
       {{#each selllist}}
        <tr class="row-content">
           <td>{{ProName}}</td>
             <td>{{NowPrice}}</td>
           <td>
              <a class="btn btn-info viewinfo" href="/product/detail/{{ProID}}" aria-label="Settings">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
             &nbsp
              <a class="btn btn-danger rate"  href="javascript:;" data-id="{{Ownid}}" aria-label="Settings">
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </a>
           </td>
        </tr>
        {{/each}}
     </tbody>
  </table>
  <div class="modal fade success-popup" id="modalrate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Đánh giá người mua</h4>
        </div>
        <div class="modal-body text-center">
          <div class="form-group">
            <form id="rateform" action="/user/rate" method="post">
              <label for="comment">Nhận xét:</label>
              <textarea class="form-control" name="Comment" rows="5" id="comment"></textarea>
              <input type="hidden" name="Point" id="txtuChoice">
              <input type="hidden" name="uID" id="txtuID" value="{{user.uID}}">
              <input type="hidden" name="uName" id="txtuName" value="{{user.uName}}">
              <input type="hidden" name="uID2" id="txtSeller" >
            </form>
          </div>
        </div>
        <div class="modal-body text-center">
          <a class="btn btn-warning dislikebtn" style="width:100px"  href="javascript:;" aria-label="Settings">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </a>
          <a class="btn btn-success likebtn"  style="width:100px"  href="javascript:;" aria-label="Settings">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </a>
      </div>
      </div>
    </div>
  </div>
    </body>
</html>
<script>
  $('.rate').on('click', function() {
    var  id = $(this).attr("data-id");
      $('#txtSeller').val(id);
      $('#modalrate').modal();
  });
  $('.likebtn').on('click', function() {
      $('#txtuChoice').val(1);
       $("#rateform").submit();
   });
   $('.dislikebtn').on('click', function() {
        $('#txtuChoice').val(0);
        $("#rateform").submit();
    });
</script>
<style>
/* Table css Start */
a.del
{
    background:#d9534f;
    border-radius: 2px;
    width: 35px;
    height:28px;
    padding-left:12px;
    line-height:10px;
}

a.edit
{
    padding-left:10px;
    background:#337ab7;
    color:#fff;
    border-radius:2px;
    border:none;
}

tr.row-name
{
    font-size: 18px;
    color:#448aff;
}

tr.row-content
{
    color:#6c7173;
}

table
{
    border-bottom: 8px solid #448aff;
    margin: 20px;
}

td.check
{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#F0F2F2 !important;
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff;
    padding: 7px 10px;
    border-radius:4px;
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222;
    transition:box-shadow 0.5s;
}

/* Table css End */

</style>
