<html>
    <head>
      <title> Table </title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <form method="post" action="/user/delete" id="frmDeleteUser">
        <input type="hidden" name="uID" id="txtDeluID">
      </form>
      <form method="post" action="/user/reset" id="frmResetUser">
        <input type="hidden" name="uID" id="txtReuID">
      </form>
      <form method="post" action="/user/right" id="frmRightUser">
        <input type="hidden" name="uID" id="txtRightuID">
      </form>
        <h2 style="color: #448aff;text-align: center;">User Table</h2>
<hr>
  <table class="table table-striped">
</div>
     <thead>
        <tr class="row-name">
           <th>Id</th>
           <th>Name</th>
           <th>Email</th>
           <th>Point</th>
           <th>Type</th>
           <th>Can post?</th>
        </tr>
     </thead>
     <tbody>
       {{#each users}}
        <tr class="row-content">
           <td>{{uID}}</td>
           <td>{{uName}}</td>
            <td>{{uEmail}}</td>
             <td>{{uPoint}}</td>
              <td>{{uType}}</td>
              <td>{{IsRight}}</td>
           <td>
              <a class="btn btn-danger removeUser" data-id="{{uID}}" href="javascript:;" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              &nbsp
              <a class="btn btn-warning Reset" href="javascript:;" data-id="{{uID}}" aria-label="Settings">
                <i class="fa fa-key" aria-hidden="true"></i>
              </a>
              {{#if IsRight}}
              {{else}}
              &nbsp
              <a class="btn btn-info right" href="javascript:;" data-id="{{uID}}" aria-label="Settings">
                <i class="fa fa-check" aria-hidden="true"></i>
              </a>
              {{/if}}

           </td>
        </tr>
        {{/each}}
     </tbody>
  </table>
    </body>
</html>
<script>
$('.removeUser').on('click', function() {
  var id = $(this).data('id');
  $('#txtDeluID').val(id);
  $('#frmDeleteUser').submit();
});
$('.Reset').on('click', function() {
  var id = $(this).data('id');
  $('#txtReuID').val(id);
  $('#frmResetUser').submit();
});
$('.right').on('click', function() {
  var id = $(this).data('id');
  $('#txtRightuID').val(id);
  $('#frmRightUser').submit();
});
</script>
<style>
/* Table css Start */
a.del
{
    background:#d9534f;
    border-radius: 2px;
    width: 35px;
    height:28px;
    padding-left:12px;
    line-height:10px;
}

a.edit
{
    padding-left:10px;
    background:#337ab7;
    color:#fff;
    border-radius:2px;
    border:none;
}

tr.row-name
{
    font-size: 18px;
    color:#448aff;
}

tr.row-content
{
    color:#6c7173;
}

table
{
    border-bottom: 8px solid #448aff;
    margin: 20px;
}

td.check
{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#F0F2F2 !important;
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff;
    padding: 7px 10px;
    border-radius:4px;
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222;
    transition:box-shadow 0.5s;
}

/* Table css End */

</style>
