<div class="container">
  <h1>Add Product</h1>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <form method="post" action="">
        <div class="form-group">
          <label for="txtCatName">Product Name</label>
          <input type="text" class="form-control" id="txproName" placeholder="name" name="proName">
        </div>
        <div class="form-group">
          <label for="txtCatName">CatID</label>
          <input type="text" class="form-control" id="txtcatID" placeholder="ID" name="catID">
        </div>
        <div class="form-group">
          <label for="txtCatName">Now Price</label>
          <input type="text" class="form-control" id="txtNowPrice" placeholder="Now Price" name="NowPrice">
        </div>
        <div class="form-group">
          <label for="txtCatName">Start Time</label>
          <input type="text" class="form-control" id="txtStarttime" placeholder="Start time" name="Starttime">
        </div>
        <div class="form-group">
          <label for="txtCatName">End Time</label>
          <input type="text" class="form-control" id="txtEndtime" placeholder="End time" name="Endtime">
        </div>
        <div class="form-group">
          <label for="txtCatName">Tiny Des</label>
          <input type="text" class="form-control" id="txtTinyDes" placeholder="Tiny Des" name="TinyDes">
        </div>
        <div class="form-group">
          <label for="txtCatName">Full Des</label>
          <input type="text" class="form-control" id="txtFullDes" placeholder="Full Des" name="FullDes">
        </div>
        <div class="form-group">
          <label for="txtCatName">user ID (who this products belong)</label>
          <input type="text" class="form-control" id="txtuID" placeholder="User ID" name="uID">
        </div>
        <div class="form-group">
          <label for="txtCatName">Owner ID (who has best current price )</label>
          <input type="text" class="form-control" id="txtOwnID" placeholder="Owner ID" name="OwnID">
        </div>
        <div class="form-group">
          <label for="txtCatName">Sell Price</label>
          <input type="text" class="form-control" id="txtSellprice" placeholder="Sell Price" name="Sellprice">
        </div>
        <div class="form-group">
          <label for="txtCatName">IsAutotime</label>
          <input type="text" class="form-control" id="txtIsAutotime" placeholder="IsAutotime" name="IsAutotime">
        </div>
        <div class="form-group">
          <label for="txtCatName">IsConfirm</label>
          <input type="text" class="form-control" id="txtIsConfirm" placeholder="IsConfirm" name="IsConfirm">
        </div>
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </form>
    </div>
  </div>
  <br/>
</div>
