{{#section 'title'}}
	Danh sách sản phẩm
{{/section}}

{{#if noProducts }}
	KHÔNG CÓ SẢN PHẨM THOẢ YÊU CẦU!

{{else}}
<div id="all">
    <div id="content">
        <div class="container">

					<div class="col-md-12">
							<ul class="breadcrumb">
									<li><a href="/">Home</a>
									</li>
									{{#with category}}
									<li><a href="/product/bycat/{{CatID}}">{{CatName}}</a>
									</li>
									{{/with}}
							</ul>
					</div>
            <div class="col-md-12">
                <div class="box">
										{{#with category}}
                    <h1>{{CatName}}</h1>

                    <p>{{CatDes}}</p>
										{{/with}}
							  </div>

                <div class="box info-bar">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 products-showing">
                            Showing <strong>12</strong> of <strong>25</strong> products
                        </div>

                        <div class="col-sm-12 col-md-8  products-number-sort">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="products-number">
                                            <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="products-sort-by">
                                            <strong>Sort by</strong>
                                            <select name="sort-by" class="form-control">
                                                <option>Price</option>
                                                <option>Name</option>
                                                <option>Sales first</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row products">
                    {{#each products}}
                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="/product/detail/{{ProID}}">
                                            <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="/product/detail/{{ProID}}">
                                            <img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="/product/detail/{{ProID}}" class="invisible">
                                <img src="/assests/img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a href="/product/detail/{{ProID}}">{{ProName}}</a></h3>
                                <p class="price">{{number_format NowPrice}}</p>
                                <p class="buttons">
                                    <a href="/product/detail/{{ProID}}" class="btn btn-default">View detail</a>
                                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Bid Now</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                    {{/each}}
                </div>
                <!-- /.products -->

                <div class="pages">

                    <p class="loadMore">
                        <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                    </p>

                    <ul class="pagination">
                        <li><a href="#">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /.col-md-9 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


    <!-- *** FOOTER ***
{{/if}}
