
{{#if login}}
<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    {{#with category}}
                    <li><a href="/product/bycat/{{CatID}}">{{CatName}}</a>
                    </li>
                    {{/with}}
                    {{#with product}}
                    <li>{{ProName}}  </li>
                    {{/with}}

                </ul>
            </div>
            <div class="col-md-4">
              <h4>Lịch sử đấu giá</h4>
              <table class="table table-hover">
    						<thead>
    							<tr>
    								<th>Price</th>
    								<th>User</th>
                    <th>Time</th>
    							</tr>
    						</thead>
    						<tbody>
    							{{#each histories }}
    							<tr>
    								<td>{{number_format Price}}</td>
                    <td>{{uName}}</td>
    								<td>{{formatDate Time "long"}}</td>
    							</tr>
    							{{/each}}
    						</tbody>
    					</table>
            </div>
            <div class="col-md-8">
              {{#with product}}
                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>

                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{ProName}}</h1>
                            <h4 style="margin-left:14"> Người bán : user{{uID}}</h4>
                            <h5 > Thời điểm bắt đầu : {{formatDate Starttime "long"}}</h5>
                            <h5 > Thời điểm kết thúc: {{formatDate Endtime "long"}}</h5>
                            <h5 > Bước giá: {{ProStep}}</h5>
                            <p   class="price">Giá Hiện Tại : {{number_format NowPrice}}</p>
                            {{#if IsEnd}}
                            <h4   style="color:red">Sản phẩm đã kết thúc đấu giá</h4>
                            {{else}}
                            <div id="bitarea">
                            {{#if Sellprice}}
                            <p   class="price">Giá Mua Ngay : {{number_format Sellprice}}</p> <a href="javascript:;" class="btn btn-primary buy"><i class="fa fa-shopping-cart"></i> Mua Ngay</a></center><br>
                            {{/if}}
                            <input type="hidden"  id="txtprostep" value="{{ProStep}}">
                            <input type="number"  id="bitPrice" step="{{ProStep}}" value="{{NowPrice}}"  > <a  class="btn btn-primary bit"><i class="fa fa-shopping-cart"></i> Bid</a></center><br>
                            </div>
                              {{/if}}
                            <p class="buttons">
                                <a href="javascript:;"class="btn btn-default favorite" ><i class="fa fa-heart"></i> Favorite</a>
                            </p>
                        </div>
                        <div class="row" id="thumbs">
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/1.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/2.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/3.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box" id="details">
                    <p>
                        <h4 style="padding-left: 12px;">Product details</h4>
                        <p  >{{FullDes}}</p>
                        <hr>
                        <div class="social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                </div>
                <form method="post" action="/user/addfavorite" id="frmFavorite">
                  <input type="hidden" name="uID" id="txuID" >
                  <input type="hidden" name="ProID" id="txtFavoriteProID" value="{{ProID}}">
                  <input type="hidden" name="ProName" id="txtFavoriteProName" value="{{ProName}}">
                  <input type="hidden" name="NowPrice" id="txtFavoriteProNowprice " value="{{NowPrice}}">
                </form>
                <form method="post" action="/user/buy" id="frmBuy">
                  <input type="hidden" name="uID" id="buyuID" >
                  <input type="hidden" name="ProID" id="buyProID" value="{{ProID}}">
                  <input type="hidden" name="uName" id="buyProName">
                  <input type="hidden" name="Price" id="buyProPrice" value="{{Sellprice}}">
                </form>
                <form method="post" action="/user/bit" id="frmBit">
                  <input type="hidden" name="uID" id="bituID" >
                  <input type="hidden" name="ProID" id="bitProID" value="{{ProID}}">
                  <input type="hidden" name="uName" id="bitProName">
                  <input type="hidden" name="Price" id="bitProPrice" >
                </form>
                <div class="modal fade success-popup" id="modalConfirmbuy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Yêu cầu xác nhận!</h4>
                      </div>
                      <div class="modal-body text-center">
                         <img src="https://cdn.emojidex.com/emoji/px128/%EF%BC%9F.png?1417137872">
                          <p class="lead">Bạn muốn mua sản phẩm này với giá {{Sellprice}} vnd?</p>
                      </div>
                      <div class="modal-body text-center">
                        <button type="button" class="btn btn-default "  data-dismiss="modal">Từ chối</button>
                        <button type="button" class="btn btn-primary  buyproduct" href="javascript:;">Đồng ý</button>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade success-popup" id="modalConfirmbit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Yêu cầu xác nhận!</h4>
                      </div>
                      <div class="modal-body text-center">
                         <img src="https://cdn.emojidex.com/emoji/px128/%EF%BC%9F.png?1417137872">
                          <p class="lead">Bạn muốn bit sản phẩm này?</p>
                      </div>
                      <div class="modal-body text-center">
                        <button type="button" class="btn btn-default "  data-dismiss="modal">Từ chối</button>
                        <button type="button" class="btn btn-primary  bitproduct" href="javascript:;">Đồng ý</button>
                    </div>
                    </div>
                  </div>
                </div>
                {{/with}}
                <input type="hidden" name="uID" id="txuName" value="{{user.uName}}">
                <input type="hidden" name="uID" id="txuIDprototype" value="{{user.uID}}">
                <input type="hidden" name="uID" id="txuPoint"  value="{{user.uPoint}}">
                <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Success!</h4>
      </div>
      <div class="modal-body text-center">
         <img src="http://osmhotels.com//assets/check-true.jpg">
          <p class="lead">This product now is in your watchlist</p>
      </div>
    </div>
  </div>
</div>
                <div class="modal fade success-popup" id="sucModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Success!</h4>
      </div>
      <div class="modal-body text-center">
         <img src="http://osmhotels.com//assets/check-true.jpg">
      </div>
    </div>
  </div>
</div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
  </div>
{{else}}
  {{>prodetail}}
{{/if}}
  <script>
  function sleepFor( sleepDuration ){
      var now = new Date().getTime();
      while(new Date().getTime() < now + sleepDuration){ /* do nothing */ }
  }
  $(document).ready(function(){
    var v= parseInt(document.getElementById('bitPrice').value) ;
    var m= parseInt(document.getElementById('txtprostep').value);
    var s=v+m;
    $('#bitPrice').val(s);
     $("#messages").hide();
   });
   //favorite
  $('.favorite').on('click', function() {
  var uID= document.getElementById('txuIDprototype').value;
    $('#txuID').val(uID);
    $("#myModal").modal();
  });
  $('#myModal').on('hidden.bs.modal', function (e) {
    $('#frmFavorite').submit();
  });
  //favorite end
  //bit
  $('.bit').on('click', function() {
    $("#modalConfirmbit").modal();
  });
  $('.bitproduct').on('click', function() {
  var uID= document.getElementById('txuIDprototype').value;
  var uName= document.getElementById('txuName').value;
  var price= document.getElementById('bitPrice').value;
    $('#bituID').val(uID);
    $('#bitProName').val(uName);
    $('#bitProPrice').val(price);
    $('#frmBit').submit();
    $("#modalConfirmbit").modal('toggle');
  });

  //bit end

  //buy
  $('.buy').on('click', function() {
    $("#modalConfirmbuy").modal();
  });
  $('.buyproduct').on('click', function() {
  var uID= document.getElementById('txuIDprototype').value;
  var uName= document.getElementById('txuName').value;
    $('#buyuID').val(uID);
    $('#buyProName').val(uName);
    $('#frmBuy').submit();
    $("#modalConfirmbuy").modal('toggle');
  });
  </script>
