<html>
    <head>
      <title> Table </title>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <form method="post" action="/product/confirm" id="frmConfirm">
        <input type="hidden" name="ProID" id="txtProID">
      </form>
        <h2 style="color: #448aff;text-align: center;">Waiting Product</h2>
<hr>
  <table class="table table-striped">
</div>
     <thead>
        <tr class="row-name">
           <th>Id</th>
           <th>ProName</th>
           <th>CatID</th>
           <th>Starttime</th>
           <th>Endtime</th>
           <th>TinyDes</th>
           <th>FullDes</th>
           <th>uID</th>
           <th>Ownid</th>
           <th>Sellprice</th>
           <th>IsAutotime</th>
        </tr>
     </thead>
      {{#each product}}
     <tbody>
        <tr class="row-content">
           <td>{{ProID}}</td>
           <td>{{ProName}}</td>
            <td>{{CatID}}</td>
             <td>{{Starttime}}</td>
              <td>{{Endtime}}</td>
              <td>{{TinyDes}}</td>
              <td>{{FullDes}}</td>
              <td>{{uID}}</td>
              <td>{{Ownid}}</td>
              <td>{{Sellprice}}</td>
              <td>{{IsAutotime}}</td>
           <td>
              <a class="btn btn-info Confirm" data-id="{{ProID}}" href="javascript:;" aria-label="Settings">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              </a>
           </td>
        </tr>

     </tbody>
       {{/each}}
  </table>
    </body>
</html>
<script>

$('.Confirm').on('click', function() {
  var id = $(this).data('id');
  $('#txtProID').val(id);
  $('#frmConfirm').submit();
});
</script>
<style>
/* Table css Start */
a.del
{
    background:#d9534f;
    border-radius: 2px;
    width: 35px;
    height:28px;
    padding-left:12px;
    line-height:10px;
}

a.edit
{
    padding-left:10px;
    background:#337ab7;
    color:#fff;
    border-radius:2px;
    border:none;
}

tr.row-name
{
    font-size: 18px;
    color:#448aff;
}

tr.row-content
{
    color:#6c7173;
}

table
{
    border-bottom: 8px solid #448aff;

}
table td
{
    word-break:break-all;
}
td.check
{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#F0F2F2 !important;
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff;
    padding: 7px 10px;
    border-radius:4px;
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222;
    transition:box-shadow 0.5s;
}

/* Table css End */

</style>
