{{#section 'title'}}
	Danh sách sản phẩm
{{/section}}

{{#if noProducts }}
	KHÔNG CÓ SẢN PHẨM THOẢ YÊU CẦU!

{{else}}
<div id="all">
    <div id="content">
        <div class="container">
          <div class="col-md-12">
							<ul class="breadcrumb">
									<li><a href="/">Home</a>
									</li>

									<li>Search</a>
									</li>

							</ul>
					</div>
          <h2>Kết quả tìm kiếm theo từ khóa "{{SearchName}}"</h2>
            <div class="col-md-12">
                <div class="row products">
                    {{#each products}}
                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="/product/detail/{{ProID}}">
                                            <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="/product/detail/{{ProID}}">
                                            <img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="/product/detail/{{ProID}}" class="invisible">
                                <img src="/assests/img/product1.jpg" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a href="/product/detail/{{ProID}}">{{ProName}}</a></h3>
                                <h5 class="price">NowPrice: {{number_format NowPrice}}</h5>
                                {{#if SellPrice}}
                                <h5 class="price">SellPrice: {{number_format SellPrice}}</h5>
                                {{/if}}
																{{# if Ownid}}
																<h5 class="price">Best Bider: {{number_format Ownid}}</h5>
																{{/if}}
                                <h5 class="price">Numbit: {{number_format Numbit}}</h5>
                                <h5 class="price">Endtime: {{ Endtime }}</h5>

                                <p class="buttons">
                                    <a href="/product/detail/{{ProID}}" class="btn btn-default">View detail</a>
                                    <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Bid Now</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                    {{/each}}
                </div>
                <!-- /.products -->

                <div class="pages">

                    <p class="loadMore">
                        <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                    </p>

                    <ul class="pagination">
                        <li><a href="#">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /.col-md-9 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


    <!-- *** FOOTER ***
{{/if}}
