{{#section 'title'}}
    About Us
{{/section}}
<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Team</h1>
                        <p class="text-center">We are a group of skilled individuals</p>
                    </div>
                </div>
                <div class="row">
                
                
                    <div class="col-md-4">
                        <img src="https://ununsplash.imgix.net/photo-1417024321782-1375735f8987?q=75&fm=jpg&s=7af3f809a9c1b90b7fcbd71655b661bc"
                        class="img-quadrata center-block" >
                        <h3 class="text-center" >John Doe
                        <br/>
                        <small> Developer</small></h3>
                    </div>
                    <div class="col-md-4">
                        <img src="https://unsplash.imgix.net/reserve/fqUehZ3ZRru2Kh11qDBT_IMG_0042.jpg?q=75&fm=jpg&s=e96c5bfe57acbd6cdfdbe7d84f37656d"
                        class="center-block img-quadrata" >
                        <h3 class="text-center" >John Smith
                        <br/>
                        <small> Web Designer</small></h3>
                    </div>
                    <div class="col-md-4">
                        <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?q=75&fm=jpg&s=cfeadbd7a991e58b553bee29a7eeca55"
                        class="center-block img-quadrata">
                        <h3 class="text-center">Samantha Reds
                        <br/>
                        <small> Content manager</small></h3>
                    </div>
                </div>
            </div>
        </div>
