{{#section 'title'}}
	Trang chủ
{{/section}}
<div id="all">
		<div id="content">
				<div id="hot">
						<div class="box">
								<div class="container">
										<div class="col-md-12">
												<h2 id="nhanne">Hot products</h2>
										</div>
								</div>
						</div>
						<div class="container">
								<div class="product-slider">
									{{#each hotpro}}
										<div class="item">
												<div class="product">
														<div class="flip-container">
																<div class="flipper">
																		<div class="front">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																		<div class="back">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																</div>
														</div>
														<a href="/product/detail/{{ProID}}" class="invisible">
																<img src="/assests/img/product1.jpg" alt="" class="img-responsive">
														</a>
														<div class="text">
																<h3><a href="/product/detail/{{ProID}}">{{ProName}}</a></h3>
																<p class="price">{{NowPrice}}</p>
														</div>
														<!-- /.text -->
												</div>
												<!-- /.product -->
										</div>
									{{/each}}
								</div>
						</div>
				</div>

				<div id="hot">
						<div class="box">
								<div class="container">
										<div class="col-md-12">
												<h2 id="nhanne">Nearly End Products</h2>
										</div>
								</div>
						</div>
						<div class="container">
								<div class="product-slider">
									{{#each endpro}}
										<div class="item">
												<div class="product">
														<div class="flip-container">
																<div class="flipper">
																		<div class="front">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																		<div class="back">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																</div>
														</div>
														<a href="/product/detail/{{ProID}}" class="invisible">
																<img src="/assests/img/product1.jpg" alt="" class="img-responsive">
														</a>
														<div class="text">
																<h3><a href="/product/detail/{{ProID}}">{{ProName}}</a></h3>
																<p class="price">{{NowPrice}}</p>
														</div>
														<!-- /.text -->
												</div>
												<!-- /.product -->
										</div>
									{{/each}}
								</div>
						</div>
				</div>
				<div id="hot">
						<div class="box">
								<div class="container">
										<div class="col-md-12">
												<h2 id="nhanne">Most Expensive Products</h2>
										</div>
								</div>
						</div>
						<div class="container">
								<div class="product-slider">
									{{#each expensivepro}}
										<div class="item">
												<div class="product">
														<div class="flip-container">
																<div class="flipper">
																		<div class="front">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																		<div class="back">
																				<a href="/product/detail/{{ProID}}">
																						<img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
																				</a>
																		</div>
																</div>
														</div>
														<a href="/product/detail/{{ProID}}" class="invisible">
																<img src="/assests/img/product1.jpg" alt="" class="img-responsive">
														</a>
														<div class="text">
																<h3><a href="/product/detail/{{ProID}}">{{ProName}}</a></h3>
																<p class="price">{{NowPrice}}</p>
														</div>
														<!-- /.text -->
												</div>
												<!-- /.product -->
										</div>
									{{/each}}
								</div>
						</div>
				</div>

	</div>
</div>
