
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    {{#if user}}
                    <li><a href="/profile" style="">{{user.uName}}</a>
                    </li>
                    <li><a href="/logout" style="">Logout</a>
                    </li>
                    {{else}}
                    <li><a href="/login">Login</a>
                    </li>
                    <li><a href="/register">Register</a>
                    </li>
                    {{/if}}

                    <li><a href="#">Contact</a>
                    </li>
                    <li><a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" id="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>
                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" href="/" data-animate-hover="bounce">
                    <img src="/assests/img/logo.png" alt="Obaju logo" class="hidden-xs" style="height:40px;width:100px">
                    <img src="/assests/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li class=""><a href="/">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Danh mục sản phẩm<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                    {{#each categories}}
                                      <div class="col-sm-2">
                                        <ul>
                                            <li><a href="/product/bycat/{{CatID}}">{{CatName}}</a>
                                            </li>
                                        </ul>
                                      </div>
                                     {{/each}}
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    {{#if user}}
                    <li class=""><a href="/user/watchlist/{{user.uID}}">Watch list</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Hồ sơ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                      <div class="col-sm-2">
                                        <ul >
                                            <li><a  href="/user/profile/{{user.uID}}">Đổi thông tin</a>
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="col-sm-2">
                                          <ul>
                                              <li><a href="/user/history/{{user.uID}}">Lịch sử đánh giá</a>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <ul>
                                                <li><a href="/user/bidlist/{{user.uID}}">Đã/Đang đấu giá</a>
                                                </li>
                                            </ul>
                                          </div>
                                          <div class="col-sm-2">
                                              <ul>
                                                  <li><a href="/user/winlist/{{user.uID}}">Sản phẩm đã thắng</a>
                                                  </li>
                                              </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <ul>
                                                    <li><a href="/user/postlist/{{user.uID}}">Sản phẩm đã đăng</a>
                                                    </li>
                                                </ul>
                                              </div>
                                              <div class="col-sm-2">
                                                  <ul>
                                                      <li><a href="/user/selllist/{{user.uID}}">Sản phẩm đã bán</a>
                                                      </li>
                                                  </ul>
                                                </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class=""><a href="/user/post">Đăng mặt hàng</a>
                    </li>

                    {{#if user.uType}}
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Quản lý<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                      <div class="col-sm-4">
                                        <ul>
                                            <li><a href="/user">User</a>
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="col-sm-4">
                                          <ul>
                                              <li><a href="/category">Categories</a>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul>
                                                <li><a href="/services">Another Services</a>
                                                </li>
                                            </ul>
                                          </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                    {{/if}}
                </ul>
            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">
                <!--/.nav-collapse -->
                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <form method="get" action="/product/simplesearch" id="frmSimpleSearch">
              <input type="hidden" name="ProName" id="txtProName">
            </form>
            <div class="collapse clearfix" id="search">
              <div class="input-group" id="adv-search">
                  <input type="text" class="form-control" id="searchName" placeholder="Search By Name" />
                  <div class="input-group-btn" >
                      <div class="btn-group" role="group">
                          <div class="dropdown dropdown-lg">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                  <form class="form-horizontal" method="get" action="/product/fixsearch" role="form">
                                    <div class="form-group">
                                      <label for="filter">Categories</label>
                                      <select class="form-control" name="selectID">
                                          {{#each categories}}
                                          <option value="{{CatID}}">{{CatName}}</option>
                                          {{/each}}
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input class="form-control" name="ProName" type="text" />
                                    </div>
                                    <button type="submit" class="btn btn-primary"><span class="fa fa-search" aria-hidden="true"></span></button>
                                  </form>
                              </div>
                          </div>
                          <button type="button" class="btn btn-primary simplesearch" href="javascript:;"><span class="fa fa-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </div>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->



    </div>
    <script>
    $('.simplesearch').on('click', function() {
      var name=$("#searchName").val();
       $("#txtProName").val(name);
      $('#frmSimpleSearch').submit();
    });
    </script>
