<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    {{#with category}}
                    <li><a href="/product/bycat/{{CatID}}">{{CatName}}</a>
                    </li>
                    {{/with}}
                    {{#with product}}
                    <li>{{ProName}}  </li>
                    {{/with}}

                </ul>
            </div>
            <div class="col-md-4">
              <h4>Lịch sử đấu giá</h4>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Price</th>
                    <th>User</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each histories }}
                  <tr>
                    <td>{{number_format Price}}</td>
                    <td>{{uName}}</td>
                    <td>{{formatDate Time "long"}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="col-md-8">
              {{#with product}}
                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>

                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{ProName}}</h1>
                            <h4> Người bán : user{{uID}}</h4>
                            <h5> Thời điểm bắt đầu : {{formatDate Starttime "long"}}</h5>
                            <h5> Thời điểm kết thúc: {{formatDate Endtime "long"}}</h5>
                            <p class="price">Giá Hiện Tại : {{number_format NowPrice}}</p>
                            <h4 style="color:red">Bạn cần đăng nhập để đấu giá</h4>



                        </div>

                        <div class="row" id="thumbs">
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/1.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/2.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/2.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="/assests/img/products/{{ProID}}/3.jpg" class="thumb">
                                    <img src="/assests/img/products/{{ProID}}/3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box" id="details">
                    <p>
                        <h4>Product details</h4>
                        <p>{{FullDes}}</p>
                        <hr>
                        <div class="social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                </div>
                <form method="post" action="/user/addfavorite" id="frmFavorite">
                  <input type="hidden" name="uID" id="txuID" >
                  <input type="hidden" name="ProID" id="txtFavoriteProID" value="{{ProID}}">
                  <input type="hidden" name="ProName" id="txtFavoriteProName" value="{{ProName}}">
                  <input type="hidden" name="NowPrice" id="txtFavoriteProNowprice " value="{{NowPrice}}">
                </form>
                {{/with}}
                <input type="hidden" name="uID" id="txuIDprototype"  value="{{user.uID}}">
                <input type="hidden" name="uID" id="txuPoint"  value="{{user.uPoint}}">
                <div class="modal fade success-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You !</h4>
      </div>
      <div class="modal-body text-center">
         <img src="http://osmhotels.com//assets/check-true.jpg">
          <p class="lead">This product now is in your watchlist</p>
      </div>

    </div>
  </div>
</div>
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
  </div>
